@font-face {
    src: url("../../resources/fonts/Ubuntu-Bold.ttf"),
}

@font-face {
    src: url("../../resources/fonts/Ubuntu-Regular.ttf"),
}

.animal-region{
	-fx-background-color: #ffffff;
}

.animal-info{
	-fx-background-position: right top;
	-fx-background-repeat: no-repeat;
	-fx-background-color: #ffffff;
    -fx-pref-width: 180px;
    -fx-padding: 0 40 0 0;	
}

#animalNameInfo{
    -fx-font-family: Ubuntu;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-padding: 10 0 0 10;
}

#animalTypeInfo{
    -fx-font-family: Ubuntu;
    -fx-font-size: 15px;
    -fx-padding: 0 0 0 10;
}

.animal-info #animalTypeInfo{
	-fx-text-fill : #000000;
}


.cat #animalNameInfo{
	-fx-text-fill : #ff9900;
}
.dragon #animalNameInfo{
	-fx-text-fill : #00d437;
}

.dog #animalNameInfo{
	-fx-text-fill : #ff002b;
}
.monkey #animalNameInfo{
	-fx-text-fill : #0098ff;
}

.cat .animal-info{
	-fx-background-image: url("../../resources/images/backgrounds/transition/cat.png");
}

.dog .animal-info{
	-fx-background-image: url("../../resources/images/backgrounds/transition/dog.png");
}

.dragon .animal-info{
	-fx-background-image: url("../../resources/images/backgrounds/transition/dragon.png");
}

.monkey .animal-info{
	-fx-background-image: url("../../resources/images/backgrounds/transition/monkey.png");
}

.cat .right-region{
	-fx-background-image: url("../../resources/images/backgrounds/repeat/cat.png");
}

.dog .right-region{
	-fx-background-image: url("../../resources/images/backgrounds/repeat/dog.png");
}

.dragon .right-region{
	-fx-background-image: url("../../resources/images/backgrounds/repeat/dragon.png");
}

.monkey .right-region{
	-fx-background-image: url("../../resources/images/backgrounds/repeat/monkey.png");
}

.right-region{
	-fx-background-repeat: repeat;
	-fx-padding: 0 20 0 5;
}

.monkey .right-region{
	-fx-background-image: url("../../resources/images/backgrounds/repeat/monkey.png");
}

.animal-action-bar{
	-fx-padding: 10 20 0 0;	
	-fx-spacing: 10;
}
.animal-action-bar ImageView {
	-fx-background-color: red;
	-fx-padding: 15 0 0 0;	
}

.animal-action-bar StackPane {
	-fx-pref-height: 40px;
}

ProgressBar {
	-fx-height: 10px;
}
#healthBar{
	-fx-max-height: 20px;
	-fx-accent: red;
}

#energyBar{
	-fx-max-height: 20px;
}

#animalAge{
	
}
.animal-age-region  {
    -fx-padding: 10 0 0 0;
}

.animal-age-region Label{
	-fx-text-fill : #9f9f9f;
    -fx-font-family: Ubuntu;
    -fx-font-size: 12px;
    -fx-padding: 4 0 0 3;
}

#animalAge{
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-padding: -5 0 0 5;
}

#ageIndicator .percentage {
    -fx-fill:null;
}

#ageIndicator  {
	-fx-max-width: 30;
    -fx-padding: 0 -3 0 0;
	-fx-accent: #9f9f9f;
}

#excrementIndicator {
	-fx-max-width: 15;
	-fx-accent: #714223;
}

#excrementIndicator .percentage {
    -fx-fill:null;
}